* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: cadetblue;
}

a {
  font-weight: 500;
}

a:hover {
  color: red;
}

a:active {
  color: hotpink;
}

h2 {
  color: brown;
}

h3 {
  color: rgb(43, 8, 8);
}

#home {
  padding: 10vh 0 5vh 0;
}

.home .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.homeWithSemisterList {
  display: flex;
  justify-content: space-evenly;
}

.homeWithSemisterList .semisterList {
  width: 15%;
}

.homeWithSemisterList .semisterList ul {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  gap: .5rem 0;
}


/* Hover Effect of table  is here */

.home table td {
  padding: 1rem;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem 0;
}


.home .head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.home .head .title {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.home .bcaInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home .video iframe {
  width: 100%;
}

.home .eligibility,
.jobProspects,
.prospectCarrers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.home .prospectCarrers ul,
.eligibility ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.home .prospectCarrers ul li,
.eligibility ul li {
  list-style: circle;
}

.home .curicullarStructure,
#semisterOne,
#semisterTwo,
#semisterThree,
#semisterFour,
#semisterFive,
#semisterSix,
#semisterSeven,
#semisterEight {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  padding: 10vh 0 5vh 0;
  /* color: rgb(10, 67, 10); */
}



/* Navbar */
.navbarHeader {
  display: flex;
  justify-content: space-around;
  background: palegoldenrod;
  height: 5vh;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbarHeader .navList,
.extraNavList {
  display: flex;
  gap: 0 1rem;
}

.allTopics {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* left and Right */
.allTopics .topicList ul,
.questionSection ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
}

.allTopics .contentSection {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 70%;
}

.contentSectionChild {
  padding: 10vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  align-items: center;
}

.contentSectionChild h2,
h3 {
  text-align: center;
}

.allTopics .questions {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.allTopics .questions ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}


/* Chess Board */
.chessBoardTable table {
  border-collapse: collapse;
  width: 100%;
}

.chessBoardTable table td,
.chessBoardTable caption {
  border: 1px solid black;
  padding: 2rem;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(even),
.chessBoardTable tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(odd),
.chessBoardTable tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

/* table chart */
.tableChartTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}


.tableChartTable header ul {
  display: flex;
  gap: 0 .5rem;
}

.tableChartTable table caption {
  border: 1px solid black;
  padding: 1rem;
}


.tableCharTable table,
td,
th {
  border: 1px solid black;
  padding: 2rem;


}


/* form */
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.form .personalDetailsFieldset {
  display: flex;
  gap: .5rem 0;
  flex-direction: column;
  padding: 1rem;
}

.form fieldset {
  padding: 1rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.checkList li,
.genderRadio li {
  display: flex;
  gap: 0 1rem;
}


/* cover page */
.headLineLogoSection {
  display: flex;
  align-items: center;
  width: 100%;

}

.coverPage .imageBox {
  height: 15rem;
  width: 15rem;
  background: #000;
}

.coverPage .imageBox {
  background-image: url("https://media.edusanjal.com/__sized__/logos/hETAUDA_CITY_COLLEGE-thumbnail-200x200-70.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

/* Assignment Section */
.assignments {
  width: 100%;
  height: 80vh;
}

.assignments iframe {
  width: 80%;
  height: 100%;

}