* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}

/* Hre line is here */
hr {
  width: 100%;
  height: 1px;
  background-color: rgb(77, 69, 69);
  border: none !important;
}

.short {
  background-color: rgb(36, 37, 38);
}

/* H tage is here */
h1,
h2,
h3,
h4 {
  color: white !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 25, 26);
}
/* Navbar */
.navbarHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem ;
  background: rgb(36, 37, 38);
  height: 5vh;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgb(77, 69, 69);
}

.navbarHeader .navList,
.extraNavList {
  display: flex;
  gap: 0 1rem;
}

.navbarHeader a:hover {
  color: hotpink
}

.allTopics {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

/* left and Right */

.allTopics .topicList ul,
.questionSection ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  background-color: rgb(24, 25, 25);
  width: 100%;
  align-items: center;
  /* background: #000; */
}

.allTopics .topicList ul a,
.allTopics .questionSection ul a {
  text-align: left;
  padding: 1rem 0 1rem 1rem;
  color: antiquewhite;
  width: 100%;
  font-weight: bolder;
}

.allTopics .topicList ul a:hover,
.allTopics .questionSection ul a:hover {
  color: skyblue;

}

.topicList,
.questionSection {
  width: 20%;
}


/* Questoons Section */

.contentSection {
  width: 60%;
}

iframe {
  width: 100%;
  height: 60vh;
}

#assignments ul li {
  padding: 5vh 0 5vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.assignments {
  padding: 5vh 0 5vh 0;
}

.allTopics .matched ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  width: 100%;
  align-items: center;
  text-align: justify;
}

.allTopics .matched ul p,
.matched ul li {
  text-align: justify;
  width: 80%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: gray; */
}

#questions {
  display: flex;
  gap: 1rem 0;
  flex-direction: column;
}

#questions ul {
  background: rgb(36, 37, 38);
}


/* Chess Board */
.chessBoardTable table {
  border-collapse: collapse;
  width: 100%;
}

.chessBoardTable table td,
.chessBoardTable caption {
  border: 1px solid black;
  padding: 2rem;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(even),
.chessBoardTable tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(odd),
.chessBoardTable tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

/* table chart */
.tableChartTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tableChartTable header ul {
  display: flex;
  gap: 0 .5rem;
}

.tableChartTable table caption {
  border: 1px solid black;
  padding: 1rem;
}


.tableCharTable table,
td,
th {
  border: 1px solid black;
  padding: 2rem;


}


/* form */
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.form .personalDetailsFieldset {
  display: flex;
  gap: .5rem 0;
  flex-direction: column;
  padding: 1rem;
}

.form fieldset {
  padding: 1rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.checkList li,
.genderRadio li {
  display: flex;
  gap: 0 1rem;
}


/* cover page */
.headLineLogoSection {
  display: flex;
  align-items: center;
  width: 100%;

}

.coverPage .imageBox {
  height: 15rem;
  width: 15rem;
  background: #000;
}

.coverPage .imageBox {
  background-image: url("https://media.edusanjal.com/__sized__/logos/hETAUDA_CITY_COLLEGE-thumbnail-200x200-70.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}