* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
}


/* error and pending is here */
.errorPage,
.pendingPage {
  padding-top: 10vh;
}

.errorPage h1,
.pendingPage h1 {
  text-align: center;
  font-weight: bolder;
}

.hi {
  padding-top: 5vh;
}

/* making a fifferent home oage so i am using different css fot it  */
.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(36, 37, 38);
  padding-top: 6vh;
}

.questionSection ul a {

  color: wheat;
  padding: 1rem 0;
}

.questionSection ul a:hover {
  color: skyblue;
}

.whyBcaContainer .homeContent {
  padding-top: 6vh;
  display: flex;
  width: 50%;
}


.homeContainer .logo img {
  width: 80%;
  border-radius: 2rem;
}

.divide {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .5rem 0;
}

.homeContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.homeContent .contentSection,
.eligibility,
.jobProspects,
.prospectCarrers,
.video {
  background: rgb(36, 37, 38);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.homeContent button {
  padding: .5rem 0;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.homeContent button:hover {
  background: #000;
  color: white;
}

.prospectCarrers ul,
.eligibility ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.prospectCarrers ul li,
.eligibility ul li {
  list-style-type: circle;
}








/* Hre line is here */
hr {
  width: 100%;
  height: 1px;
  background-color: rgb(77, 69, 69);
  border: none !important;
}

.short {
  background-color: rgb(36, 37, 38);
}

/* H tage is here */
h1,
h2,
h3,
h4 {
  color: white !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 25, 26);
}

/* Navbar */
.navbarHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background: rgb(20, 38, 57);
  height: 5vh;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgb(77, 69, 69);
}

.navbarHeader .navList,
.extraNavList {
  display: flex;
  gap: 0 1rem;
}

.navbarHeader a:hover {
  color: hotpink
}

.allTopics {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.navLogo {
  display: flex;
  gap: 0 1rem;
}

/* left and Right */

.allTopics .topicList ul,
.questionSection ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  background-color: rgb(24, 25, 25);
  width: 100%;
  align-items: center;
  /* background: #000; */
}

.allTopics .topicList ul a,
.allTopics .questionSection ul a {
  text-align: left;
  padding: 1rem 0 1rem 1rem;
  color: antiquewhite;
  width: 100%;
  font-weight: bolder;
}

.allTopics .topicList ul a:hover,
.allTopics .questionSection ul a:hover {
  color: skyblue;

}

.topicList,
.questionSection {
  width: 20%;
}


/* Questoons Section */

.contentSection {
  width: 60%;
}

iframe {
  width: 100%;
  height: 60vh;
}

#assignments ul li {
  padding: 5vh 0 5vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.assignments {
  padding: 5vh 0 5vh 0;
}

.allTopics .matched ul {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
  width: 100%;
  align-items: center;
  text-align: justify;
}

.allTopics .matched ul p,
.matched ul li {
  text-align: justify;
  width: 80%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: gray; */
}

#questions {
  display: flex;
  gap: 1rem 0;
  flex-direction: column;
}

#questions ul {
  background: rgb(36, 37, 38);
}


/* Chess Board */
.chessBoardTable table {
  border-collapse: collapse;
  width: 100%;
}

.chessBoardTable table td,
.chessBoardTable caption {
  border: 1px solid black;
  padding: 2rem;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(even),
.chessBoardTable tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}

.chessBoardTable tr:nth-child(odd) td:nth-child(odd),
.chessBoardTable tr:nth-child(even) td:nth-child(even) {
  background-color: white;
}

/* table chart */
.tableChartTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tableChartTable header ul {
  display: flex;
  gap: 0 .5rem;
}

.tableChartTable table caption {
  border: 1px solid black;
  padding: 1rem;
}


.tableCharTable table,
td,
th {
  border: 1px solid black;
  padding: 2rem;


}


/* form */
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.form .personalDetailsFieldset {
  display: flex;
  gap: .5rem 0;
  flex-direction: column;
  padding: 1rem;
}

.form fieldset {
  padding: 1rem;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: .5rem 0;
}

.checkList li,
.genderRadio li {
  display: flex;
  gap: 0 1rem;
}


/* cover page */
.headLineLogoSection {
  display: flex;
  align-items: center;
  width: 100%;

}

.coverPage .imageBox {
  height: 15rem;
  width: 15rem;
  background: #000;
}

.coverPage .imageBox {
  background-image: url("https://media.edusanjal.com/__sized__/logos/hETAUDA_CITY_COLLEGE-thumbnail-200x200-70.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}


/* font awosome */
.navHead,
.desktopSemister {
  display: none;

}

@media screen and (max-width: 1200px) {

  .desktopHome,
  .desktopUser {
    display: none;
  }

  .questionSection {
    display: block;
  }

  .questionSection ul a {

    padding: .5rem 0;
  }

  .questionSection ul a:hover {
    color: skyblue;
  }

  .whyBcaContainer .homeContent {
    padding-top: 0vh;
    width: 100%;
  }

  .homeContainer {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homeContainer .logo img {
    width: 100%;
    border-radius: 1rem;
  }

  .homeContent {
    width: 100%;
    padding: 1rem;
  }

  .questionSection {
    display: none;
    z-index: 999;
    width: 100%;
    position: fixed;
    bottom: 0;
  }

  .questionSection ul {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .topicList ul {
    background-color: red;
    display: none;
    width: 100vw;
    z-index: 999;
    position: fixed;
    bottom: 0;
  }

  .topicList {
    display: none;
  }


  /*  */
  .contentSection {
    width: 100%;
    padding: 0 1rem;
  }

  iframe {
    height: 60vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 200;
  }

  .navbarHeader {
    display: none;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 1rem; */
    bottom: 0;
    background: rgb(20, 38, 57);
    height: 95vh;
    position: fixed;
    width: 100%;
    /* z-index: 999; */
    border-bottom: none;
  }


  .navbarHeader .navList,
  .extraNavList {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .navbarHeader a:hover {
    color: hotpink
  }

  .allTopics {
    display: flex;
    width: 100vw;
    justify-content: space-between;
  }

  .navLogo {
    display: flex;
    gap: 0 1rem;
  }

  .navHead {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 5vh;
    align-items: center;
    position: fixed;
    background: #000;
  }

  .navHead .leftHam,
  .rightHam {
    display: flex;
    gap: 0 1rem;
  }

  i {
    font-size: 2rem;
  }
}